*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
testproj
neo4j-community-1.8.2-unix.tar.gz
neo4j-community-1.8.2
neo4j-dev
neo4j-test
